.DS_Store
logs
server.pid
public/contents
project/project
project/target
target
lib/*
modules/*
tmp
.history
dist
.idea
.settings
nbproject
.classpath
.project
build.sbt
build.xml
*.iml
eclipse
*.ipr
*.iws
.gradle/*
gradle/*
gradlew
gradlew.*